#Navbar {
    .Nav-background{
        height: 3em;
        display: flex;
        margin-top: 3px;
    }
    
    /* 24인치 미만의 화면 */
    @media (max-width: 1599px) {
        .Nav-01{
            width: 300px;
            height: 100%;
            text-align: center;

            display: flex;
            justify-content: center; /* 가로 방향 정렬 */
            align-items: center; /* 세로 방향 정렬 */
        }
            .Nav-title{
                margin-top: 20px;
                margin-left: 5px;

                text-decoration: none;
                font-size: 30px;
                color: rgb(43, 43, 43);
                font-family: 'Tenada';
            }

        /* ------------------------------------------ */  

        .Nav-02{
            width: 100%;
            height: 100%;
            text-align: center;

            display: flex;
            justify-content: center; /* 가로 방향 정렬 */
            align-items: center; /* 세로 방향 정렬 */

        }
            .Nav-mypage,
            .Nav-up,
            .Nav-now,
            .Nav-friends{
                text-decoration: none;

                font-size: 17px;
                font-family: 'ChosunGu';
                font-weight: 500;
                color: rgb(43, 43, 43);

                margin-top: 25px;
                padding-left: 30px;
                padding-right: 30px;
            }
            .Nav-mypage:hover,
            .Nav-up:hover,
            .Nav-now:hover,
            .Nav-friends:hover{
                color: rgb(255, 76, 100);
                font-size: 18px;

                padding-left: 40px;
                padding-right: 40px;

                transition: 0.5s;
            }

        /* ------------------------------------------ */  

        .Nav-03{
            width: 450px;
            height: 100%;
            text-align: center;

            margin-right: 5px;

            display: flex;
            justify-content: center; /* 가로 방향 정렬 */
            align-items: center; /* 세로 방향 정렬 */
            font-family: serif;
        }    
            .Nav-write{
                width: 120px;
                height: 30px;

                display: flex;
                justify-content: center; /* 가로 방향 정렬 */
                align-items: center; /* 세로 방향 정렬 */

                text-decoration: none;

                font-size: 16px;
                font-family: 'ChosunGu';
                font-weight: 500;
                color: rgb(43, 43, 43);

                margin-top: 20px;

                border: 1px solid rgb(43,43,43);
                border-radius: 15px;
            }
            .Nav-login{
                width: 120px;
                height: 30px;

                display: flex;
                justify-content: center; /* 가로 방향 정렬 */
                align-items: center; /* 세로 방향 정렬 */

                text-decoration: none;

                font-size: 16px;
                font-family: 'ChosunGu';
                font-weight: 500;
                color: rgb(255, 255, 255);
                background-color: rgb(43, 43, 43);

                margin-top: 20px;
                margin-left: 10px;
                margin-right: 5px;

                border: 1px solid rgb(43,43,43);
                border-radius: 15px;
            }   
    }

    
    /* ------------------------------------------ */
    
    
    /* 24인치 이상의 화면 */    
    @media (min-width: 1600px) and (max-width: 1799px){
        .Nav-01{
            width: 400px;
            height: 100%;
            text-align: center;
        
            display: flex;
            justify-content: center; /* 가로 방향 정렬 */
            align-items: center; /* 세로 방향 정렬 */
        
            margin-left: 15em;
        }
            .Nav-title{
                margin-top: 20px;
                text-decoration: none;
                font-size: 30px;
                color: rgb(43, 43, 43);
                font-family: 'Tenada';
            }

        /* ------------------------------------------ */

        .Nav-02{
            width: 100%;
            height: 100%;
            text-align: center;
        
            display: flex;
            justify-content: center; /* 가로 방향 정렬 */
            align-items: center; /* 세로 방향 정렬 */
        }
            .Nav-mypage
            ,.Nav-up
            ,.Nav-now
            ,.Nav-friends{
                text-decoration: none;

                font-size: 17px;
                font-family: 'ChosunGu';
                font-weight: 500;
                color: rgb(43, 43, 43);

                margin-top: 25px;
                padding-left: 30px;
                padding-right: 30px;
            }
            .Nav-mypage:hover,
            .Nav-up:hover,
            .Nav-now:hover,
            .Nav-friends:hover{
                color: rgb(255, 76, 100);
                font-size: 18px;

                padding-left: 40px;
                padding-right: 40px;

                transition: 0.5s;
            }


        /* ------------------------------------------ */


        .Nav-03{
            width: 600px;
            height: 100%;
            text-align: center;
        
            display: flex;
            justify-content: center; /* 가로 방향 정렬 */
            align-items: center; /* 세로 방향 정렬 */
            
            margin-right: 15em;
        }    
            .Nav-write{
                width: 120px;
                height: 30px;

                display: flex;
                justify-content: center; /* 가로 방향 정렬 */
                align-items: center; /* 세로 방향 정렬 */

                text-decoration: none;
    
                font-size: 16px;
                font-family: 'ChosunGu';
                font-weight: 500;
                color: rgb(43, 43, 43);
    
                
                margin-top: 20px;

                border: 1px solid rgb(43,43,43);
                border-radius: 15px;
            }
            .Nav-login{
                width: 120px;
                height: 30px;

                display: flex;
                justify-content: center; /* 가로 방향 정렬 */
                align-items: center; /* 세로 방향 정렬 */

                text-decoration: none;

                font-size: 16px;
                font-family: 'ChosunGu';
                font-weight: 500;
                color: rgb(255, 255, 255);
                background-color: rgb(43, 43, 43);

                margin-top: 20px;
                margin-left: 10px;

                border: 1px solid rgb(43,43,43);
                border-radius: 15px;
            }            
    }    


    /* ------------------------------------------ */


    /* 32인치 이상의 화면 */    
    @media (min-width: 1800px){
        .Nav-01{
            width: 500px;
            height: 100%;
            text-align: center;
        
            display: flex;
            justify-content: center; /* 가로 방향 정렬 */
            align-items: center; /* 세로 방향 정렬 */
        
            margin-left: 30em;
        }
            .Nav-title{
                margin-top: 20px;
                text-decoration: none;
                font-size: 30px;
                color: rgb(43, 43, 43);
                
                font-family: 'Tenada';
            }      
    


        .Nav-02{
            width: 100%;
            height: 100%;
            text-align: center;
        
            display: flex;
            justify-content: center; /* 가로 방향 정렬 */
            align-items: center; /* 세로 방향 정렬 */
            
        }
            .Nav-mypage,
            .Nav-up,
            .Nav-now,
            .Nav-friends{
                text-decoration: none;

                font-size: 17px;
                font-family: 'ChosunGu';
                font-weight: 500;

                color: rgb(43, 43, 43);

                margin-top: 25px;
                padding-left: 45px;
                padding-right: 45px;
            }
            .Nav-mypage:hover,
            .Nav-up:hover,
            .Nav-now:hover,
            .Nav-friends:hover{
                color: rgb(255, 76, 100);
                font-size: 19px;

                padding-left: 60px;
                padding-right: 60px;
                
                transition: 0.5s;
                margin-top: 27px;
            }

    /* ------------------------------------------ */        
        .Nav-03{
            width: 600px;
            height: 100%;
            text-align: center;
        
            display: flex;
            justify-content: center; /* 가로 방향 정렬 */
            align-items: center; /* 세로 방향 정렬 */
            
            margin-right: 30em;
        }    
            .Nav-write{
                width: 120px;
                height: 30px;

                display: flex;
                justify-content: center; /* 가로 방향 정렬 */
                align-items: center; /* 세로 방향 정렬 */

                text-decoration: none;

                font-size: 16px;
                font-family: 'ChosunGu';
                font-weight: 500;
                color: rgb(43, 43, 43);

                margin-top: 20px;

                border: 1px solid rgb(43,43,43);
                border-radius: 15px;
            }
            .Nav-login{
                width: 120px;
                height: 30px;

                display: flex;
                justify-content: center; /* 가로 방향 정렬 */
                align-items: center; /* 세로 방향 정렬 */

                text-decoration: none;

                font-size: 16px;
                font-family: 'ChosunGu';
                font-weight: 500;
                color: rgb(255, 255, 255);
                background-color: rgb(43, 43, 43);

                margin-top: 20px;
                margin-left: 10px;
                

                border: 1px solid rgb(43,43,43);
                border-radius: 15px;
            }           
    }        
}




@font-face {
    font-family: 'Tenada';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'EliceDigitalBaeum-Bd';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum-Bd.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'ChosunGu';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}